<!DOCTYPE html>
<html>
<head>
  <title>EOTS</title>
  <%= stylesheet_link_tag    "eots/application", media: "all" %>
  <%= javascript_include_tag "eots/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
